<div class="row" style="padding-left: 30px;padding-top: 80px;">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <input type="search" class="form-control rounded" dir="rtl" placeholder="הקלד כאן..." aria-label="Search"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary" style="color: black;">חיפוש</button>
    </div>
  </div>
  <div class="col-md-3"> </div>
</div>
<mat-tab-group (selectedTabChange) = "onChangeTab($event)"
 style="padding-right: 500px;" dir="rtl">
  <mat-tab label="הכל"> </mat-tab>
  <mat-tab label="נבחרו"> </mat-tab>
  <mat-tab label="לא נבחרו"> </mat-tab>
</mat-tab-group>
<div class="row" style="padding-top: 30px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <ul style="display: inline;" *ngFor="let item of list;">
      <button mat-button>{{item}}</button>
    </ul>
  </div>
  <div class="col-md-3" style="padding-right: 130px;" dir="rtl">
    <strong> סך שמות זהים :</strong>
  </div>
</div>
<div class="row" style="padding-top: 30px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <table>
      <tbody >
        <tr>
          <td *ngFor="let item of data | slice:0:4; "><button mat-button [ngClass]="{selected: item.isSelected}"
              (click)="changeColor(item.id,item.text)">{{item.text}}</button></td>   
        </tr>
        <tr>
          <td *ngFor="let item of data | slice:4:8; "><button mat-button [ngClass]="{selected: item.isSelected}"
              (click)="changeColor(item.id,item.text)">{{item.text}}</button></td>
        </tr>
        <tr>
          <td *ngFor="let item of data | slice:8:13; "><button mat-button [ngClass]="{selected: item.isSelected}"
              (click)="changeColor(item.id,item.text)">{{item.text}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3" style="padding-right: 130px;" dir="rtl">
    <strong> סך שמות כוללים :</strong>
    <br>
    <br>
    <br>
    <strong>רשימת כרטיסים שנבחרו :</strong>
    <br>
    <br>
    <input dir="rtl" type="text" placeholder="{{numberList}}">
  </div>
</div>
<!-- <div class="row" style="padding-top: 30px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <input type="text" placeholder="{{numberList}}" >
  </div>
  <div class="col-md-3" style="padding-right: 130px;" dir="rtl">
    <strong>רשימת כרטיסים שנבחרו :</strong></div>
</div> -->